{%- from '_form.html.jinja2' import display_form, display_field -%}

<!DOCTYPE html>
<html id="page-{{ request.endpoint.replace('_', '-') if request.endpoint else 'error' }}">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>passman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    {% if g.context.user %}
      <nav>
        <ul class="links">
          <li>
            <a href="{{ url_for('display_passwords') }}">Mes notes</a>
          </li>
          <li>
            <a href="{{ url_for('display_groups_passwords') }}">Groupes</a>
          </li>
        </ul>
        <ul class="links">
          <li>
            <a href="{{ url_for('edit_user') }}">Mon profil</a>
          </li>
          <li>
            <a href="{{ url_for('logout') }}">Me déconnecter</a>
          </li>
        </ul>
      </nav>
    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <aside>
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </aside>
      {% endif %}
    {% endwith %}

    <main>
      <h1>passman</h1>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
