{% macro nav() %}
  {% if g.context.user %}
    <ul>
        <li>
          <a href="{{ url_for('display_passwords') }}">mes notes</a>
        </li>
        <li>
          <a href="{{ url_for('display_groups') }}">groupes</a>
        </li>
    </ul>
    <ul>
        <li>mon profil</li>
        <li>
          <a href="{{ url_for('logout') }}">me déconnecter</a>
        </li>
    </ul>
  {% else %}
    <ul></ul>
  {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Passman</title>
  </head>

  <body>
    <header>
      {{ nav() }}
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <aside>
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </aside>
      {% endif %}
    {% endwith %}

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
