{% extends '_layout.html.jinja2' %}

{% block content %}
  <article>
    {% if group and password %}
      <h2>Supprimer la note du groupe</h2>
      <form action="{{ url_for('delete_password_from_group', password_id=password.id, group_id=group.id) }}" method="POST">
        <p>La note va être supprimée.</p>
        <input type="submit" value="Supprimer"/>
    {% elif group %}
      <h2>Supprimer le groupe</h2>
      <form action="{{ url_for('delete_group', group_id=group.id) }}" method="POST">
        <p>Le groupe va être supprimé.</p>
        <input type="submit" value="Supprimer"/>
    {% elif password %}
      <h2>Supprimer la note</h2>
      <form action="{{ url_for('delete_password', password_id=password.id) }}" method="POST">
        <p>La note va être supprimée.</p>
        <input type="submit" value="Supprimer"/>
    {% endif %}
  </form>
{% endblock %}
