{% extends '_layout.html.jinja2' %}

{% block content %}
  <article>
    <h2>{{ 'Mettre à jour la note' if edit else 'Nouvelle note' }}</h2>

    <form method="POST">
      {{ display_form(form) }}
      <input type="submit" value="{{ 'Mettre à jour' if edit else 'Créer' }}"/>
    </form>
  </article>
{% endblock %}
